<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- social media links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/js/stylesheets.css">
    <title>House Finch</title>

</head>
<body>
        <div class="header">
        <img src="/assets/colorful_finch.jpg" class="w3-circle" width="200" height="200">
        <h1><font face="Lucida Handwriting" , Times, cursive size="20">The House Finch </font></h1>
        <h5><font face="Arial" , Helvetica, sans-serif size="5">Cuisine and Cafe</font></h5>
    </div>



    <div style="padding:20px;">

    {{{body}}}

    </div>

</body>
</html>