    <div class="w3-bar w3-light-blue">
        <div class="w3-bar-item" style="width:33%"></div>
        <a href="customers_public" class="w3-bar-item w3-button w3-mobile" style="width:33%">Customers</a>
        <a href="index_private" class="w3-bar-item w3-button w3-mobile" style="width:33%">Employees Only</a>
    </div>


{{!-- Just some plain text --}}
<div class="w3-container w3-light-gray">
    <h3>Public Access Website</h3>
</div>

</div>


        Customers page: Holly 
        <ol>
            <li> Select profile by name search </li>
            <li> Select all orders for specific customer by customer_id, display orders and customers as a joined table </li>
        </ol>
        
   

   
    <br>
    <br>
    <br>
    <br>
    <!-- Full width -->
    <div class="bottom-right">
        Telephone: (206) 331-1245<br>
        Address: 215 Merrill St. Seattle, WA<br>
        Email: customer_service@house_finch.com<br>
    </div>